@font-face {
  font-family: "Barosa";
  src: url("../fonts/Barosa-Outline.woff");
}

@font-face {
  font-family: "Berlin";
  src: url("../fonts/Berlin.woff");
}

@media (max-width: 600px) {
  .principal {
    flex-direction: column;
  }
  .img-back img {
    height: 100% !important;
  }
}

.img-back {
  left: 0px;
  top: 0px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100%;
  z-index: -999999;
  position: fixed;
}

.img-back img {
  position: absolute;
  margin: 0px;
  padding: 0px;
  border: none;
  width: 100%;
  height: auto;
  max-height: none;
  max-width: none;
  z-index: -999999;
  left: 0px;
  opacity: 0.7;
}

.banner-container {
  height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;
}

body {
  /* background: url("fondojulias.png"); */
  margin: 0;
  padding: 0;
  /* background: rgb(2, 79, 99);
  background: linear-gradient(
    180deg,
    rgba(2, 79, 99, 1) 0%,
    rgba(0, 129, 142, 1) 14%,
    rgba(119, 188, 193, 1) 55%,
    rgba(200, 208, 210, 1) 85%,
    rgba(254, 202, 166, 1) 99%
  ); */
  font-family: "Montserrat", sans-serif;
}

.contenedor {
  max-width: 1100px;
  margin: auto;
}

.p {
  color: #000000;
  text-align: center;
  font-size: 2rem;
  margin-left: 10px;
}

.facebook {
  width: 50px;
  height: 50px;
  margin: auto;
}
.f {
  margin-left: 30px;
  margin-top: 10px;
}

.instagram {
  width: 50px;
  height: 50px;
}

.titulo {
  font-family: "Barosa", sans-serif;
  font-size: 20rem;
}

.autor {
  font-family: "Berlin", sans-serif;
  font-size: 3rem;
}

.video-img {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.b {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 50px;
}

.principal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

#libro {
  margin-top: 20px;
  width: 500px;
  height: 600px;
}

.sinopsis {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: justify;
  margin-bottom: 50px;
}

.cara {
  width: 200px;
  height: 200px;
}

.biografia {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: justify;
  margin-bottom: 50px;
}

#container {
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.video {
  border-radius: 5px;
  box-shadow: 5px 5px 5px;
  margin-left: 41px;
}

.mapas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
.mapa {
  margin: auto;
  padding-top: 15px;
}

.redes {
  display: flex;
  justify-content: center;
}

.librerias {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  max-width: 100%;
}

#banner {
  background-color: #384047;
  color: #ffffff;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 5px;
  text-align: center;
  margin-top: 50px;
  border-radius: 5px;
}

.lectura {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}
